.custom-calendar .selected {
  background-color: #b3c3f8;
  /* color: #fff; */
  border-radius: 20%;
  width: 27px;
  height: 27px;
  display: inline-block;
  margin: 4px;
}
/* Add this to your CSS file (e.g., ModalCreate.css) */
.custom-calendar .react-datepicker__day--selected {
  background-color: transparent !important;
  color: inherit !important;
}

.custom-calendar .dayOfWeek {
  background-color: transparent !important;
  color: inherit !important;
}

.selected-start-end {
  background-color: rgb(148, 114, 207); /* Màu của ngày bắt đầu và ngày kết thúc */
}
